<div class="forgot-password-wrapper">
  <h1>Passwort zurücksetzen</h1>

  <ng-container *ngIf="!emailSent else sentelse">
    <p>Nur freigegebene EMail-Adressen sind möglich.</p>

    <label for="input_email">EMail</label>
    <input
      id="input_email"
      class="email"
      placeholder="EMail"
      [formControl]="email"
      type="text"/>

    <hr />
    <button class="send-button" (click)="send()">EMail senden</button>
  </ng-container>
  <ng-template #sentelse>
    <p>Die EMail wurde versendet. <br /> Bitte schau in deinem Postfach nach!</p>
  </ng-template>
</div>
