<form [formGroup]="loginForm" class="login-wrapper">
  <h1>Login</h1>

  <label for="input_email">Email</label>
  <input
    id="input_email"
    class="email"
    placeholder="EMail"
    formControlName="email"
    type="text"/>
  <label for="input_password">Passwort</label>
  <input
    id="input_password"
    class="password"
    placeholder="Passwort"
    formControlName="password"
    type="password" />

  <a routerLink="/forgot-password">Passwort vergessen?</a>

  <hr />
  <button class="login-button" (click)="login()">Login</button>
</form>
