<div
  class="weekday"
  [ngClass]="{'done': done, 'active': activeStyle}"
  (mousedown)="onMouseDown($any($event))"
  (mouseup)="onMouseUp($any($event))"
  (touchstart)="onMouseDown($any($event))"
  (touchend)="onMouseUp($any($event))">
  <div class="weekday--day">
    <fa-icon class="weekday--icon" [icon]="done ? faCalendarMinus : faCalendarPlus" size="lg"/>
    <span class="weekday--day-text">{{weekday}}</span>
  </div>
  <div class="weekday--recipe">
    <span class="weekday--recipe-text">{{recipe}}</span>
  </div>
  <a *ngIf="linkDomain !== null" class="weekday--link" [href]="link" target="_blank">
    <fa-icon [icon]="faLink" size="lg" class="weekday--link-icon"/>
    <span class="weekday--link-text">{{linkDomain}}</span>
  </a>
</div>
