/* You can add global styles to this file, and also import other style files */

html {
  --clr-text: #ecf6f9;
  --clr-background: #0b1d22;
  --clr-primary: #263c73;
  --clr-secondary: #06191e;
  --clr-accent: #6b7f85;

  font-family: 'roboto';
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-background);
}

.clickable {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

a {
  color: var(--clr-text);
  text-decoration: none;

  &:visited {
    color: var(--clr-text);
  }

  &:hover {
    text-decoration: underline;
  }
}

@font-face {
  font-family: roboto;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}
