<div class="list-table--wrapper">
  <table class="list-table">
    <tr>
      <th>#</th>
      <th>Einheit</th>
      <th>Name</th>
      <th>Kategorie</th>
      <th>Angebot</th>
      <th>Aktionen</th>
    </tr>
    <ng-container *ngIf="!loading else loadingRow">
      <tr *ngFor="let item of listItems">
        <td class="list-table-cell--text">{{item.num}}</td>
        <td class="list-table-cell--text">{{item.type?.unit}}</td>
        <td class="list-table-cell--text">{{item.type?.name}}</td>
        <td class="list-table-cell--text">{{item.type?.category}}</td>
        <td  class="list-table-cell--checkbox">
          <input type="checkbox" class="list-table--checkbox" disabled [(ngModel)]="item.onSale" />
        </td>
        <td class="list-table-cell--controls">
          <button class="list-table--button"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
          <button class="list-table--button" (click)="deleteItem(item)"><fa-icon [icon]="faTrash"></fa-icon></button>
        </td>
      </tr>
    </ng-container>
    <ng-template #loadingRow>
      <tr>
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
      </tr>
    </ng-template>
  </table>

  <form [formGroup]="addFormGroup" class="list-controls--wrapper">
    <input
      type="number"
      formControlName="numControl"
      class="list-controls-num" />
    <select
      class="list-controls-unit"
      formControlName="unitControl">
      <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
    </select>
    <input
      type="text"
      list="itemList"
      formControlName="typeControl"
      (input)="onInput($any($event))"
      class="list-controls-type" />
    <datalist id="itemList">
      <option *ngFor="let item of itemDefs" [value]="item.name"></option>
    </datalist>
    <select
      class="list-controls-category"
      formControlName="categoryControl">
      <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
    </select>
    <input
      type="checkbox"
      formControlName="onSaleControl" />
    <button
      class="list-controls-button--add"
      (click)="addItem()">
      <fa-icon [icon]="faCartPlus"></fa-icon>
    </button>
  </form>
</div>
