<div class="list-table--wrapper">
  <table class="list-table">
    <thead>
      <th id="table-header--unit">Anzahl</th>
      <th id="table-header--name">Name</th>
      <th *ngIf="!showLessDetails" id="table-header--category">Kategorie</th>
      <th id="table-header--onsale">{{showLessDetails ? '+' : 'Angebot'}}</th>
      <th id="table-header--controls">Aktionen</th>
    </thead>
    <ng-container *ngIf="!loading else loadingRow">
      <tr *ngFor="let item of listItems">
        <td id="table-cell--unit">{{item.num}} {{item.type?.unit}}</td>
        <td id="table-cell--name">{{item.type?.name}}</td>
        <td *ngIf="!showLessDetails" id="table-cell--category">{{item.type?.category}}</td>
        <td id="table-cell--onsale" class="list-table-cell--checkbox">
          <fa-icon class="green-text" *ngIf="item.onSale" [icon]="faCircleCheck" size="lg"></fa-icon>
          <fa-icon class="red-text" *ngIf="!item.onSale" [icon]="faCircleXmark" size="lg"></fa-icon>
        </td>
        <td id="table-cell--controls" class="list-table-cell--controls">
          <button class="list-table--button"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
          <button class="list-table--button" (click)="deleteItem(item)"><fa-icon [icon]="faTrash"></fa-icon></button>
        </td>
      </tr>
    </ng-container>
    <ng-template #loadingRow>
      <tr>
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
      </tr>
    </ng-template>
  </table>
</div>

<form [formGroup]="addFormGroup" class="list-controls--wrapper">
  <input
    type="number"
    placeholder="#"
    formControlName="numControl"
    class="list-controls-num" />
  <select
    class="list-controls-unit"
    formControlName="unitControl">
    <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
  </select>
  <input
    type="text"
    list="itemList"
    formControlName="typeControl"
    placeholder="Name"
    (input)="onInput($any($event))"
    class="list-controls-type" />
  <datalist id="itemList">
    <option *ngFor="let item of itemDefs" [value]="item.name"></option>
  </datalist>
  <select
    class="list-controls-category"
    formControlName="categoryControl">
    <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
  </select>
  <div
    tabindex="0"
    (keydown.enter)="addFormGroup.controls['onSaleControl'].patchValue(!addFormGroup.controls['onSaleControl'].value)"
    class="list-controls-sale">
    <label for="onsale-checkbox">
      <fa-icon class="green-text" *ngIf="addFormGroup.controls['onSaleControl'].value" [icon]="faCircleCheck" size="lg"></fa-icon>
      <fa-icon class="red-text" *ngIf="!addFormGroup.controls['onSaleControl'].value" [icon]="faCircleXmark" size="lg"></fa-icon>
    </label>
    <input
      #onSaleCheckbox
      id="onsale-checkbox"
      style="display: none"
      type="checkbox"
      formControlName="onSaleControl" />
  </div>
  <button
    class="list-controls-button"
    (click)="addItem()">
    <fa-icon [icon]="faCartPlus"></fa-icon>
  </button>
</form>

